body {
  text-align: center;
  color: #3e1210;
}

h1 {font-family: GlacialIndifference-Regular; font-size: 30px;}

#openClose {
  font-size: 20px;
  padding:5px;
  background-color: white;
  color: orange;}

.text-content {
  background-color: orange;
  height: 410px;
}
.text-content p{
  font-family: GlacialIndifference-Regular;
  font-size: 18px;
}

.img-content img{
  object-fit: cover;
  object-position: center;
  height: 410px;
}
