* {box-sizing: border-box;}

img {width: 100%;}

.header {display: grid;}

#logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}

.row::after {
  content: "";
  clear: both;
  display: grid;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.navBar {text-align: center;}
.navBar a{
  text-decoration: none;
  color: #3e1210;
  font-size: 20px;
  font-family: aileron;
  font-weight: bold;
}

/* font */
p {font-family: trocchi;}
h1 {font-family: Playlist; font-size: 80px;}
h2 {font-family: Playlist; font-size: 50px;}
.fAlegreya {font-family: Alegreya; font-size: 30px;}
.fGlacial {font-family: GlacialIndifference-Regular; font-size: 20px;}

#banner {
  object-fit: cover;
  object-position: center;
  max-height: 200px;
}

.chef {text-align: center;}
.chef img {width: 250px;}

.footer {text-align: center;}
.footer p {font-family: GlacialIndifference-Regular;font-size: 15px;}
.footer img{max-width: 10%;}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {width:90%; margin-left: 5%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .chef {text-align: left;}
  .verticalCenter {margin-top: 5%;}
  .toRight {text-align: right;}
  .toEnd {margin-top: 60%;}
  .pickup {width: 24%;}
}


/* toggle switch */
body {transition: background-color 600ms;}

.darkmode {background: #333333; color: white;}
.darkmode img {filter: brightness(.8) contrast(1.2);}
.darkmode a {color: white;}

input[type=checkbox]{visibility: hidden;}

.switch {
  float:right;
  width: 60px;
  height: 14px;
  background: gray;
  position: relative;
  border-radius: 3px;
}

label {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all .6s ease;
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: -3px;
    background: orange;
}

input[type=checkbox]:checked + label {
    left: 40px;
    background: #f7f7f7;
}
